<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="primaryKey" value="72128365a40c486a86513c15c93b03d5"/>
    <add key="secondaryKey" value="77b5f95c016b448b9c1e7aef28af73d4"/>
    <add key="luisAppID" value="4e9142b8-8353-4909-942d-ebbd6b97235a"/>
    <add key="luisSubscriptionID" value="6896f9c86ec14f65a115f3063462accf"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
