<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="AnnotatorModel" connectionString="data source=teddyserver1.database.windows.net;initial catalog=TeddyShard1;user id=drcrook@teddyserver1;password=David!2345;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="test" value="bar"/>
  </appSettings>
</configuration>
