<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ClusterName" value="https://projectteddy.azurehdinsight.net" />
    <add key="HadoopUserName" value="drcrook" />
    <add key="HadoopUserPassword" value="David!2345" />
    <add key="AnnotatedTweetTableName" value="annotatedtweets" />
    <add key="TweetTableName" value="tweets" />
    <add key="ConversationTableName" value="twitterconversations" />
    <add key="AnnotatedConversationTableName" value="annotatedtwitterconversations" />
    <add key="WordRelationTableName" value="wordrelationstrengths" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.29.0" newVersion="4.2.29.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>