@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>Project Teddy is our summer project. The goal of this project is to build an interactive Teddy Bear that will allow you to...</p>
