@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="row">
        <div class="col-md-3">
            <img class="img-responsive" src="~/Content/images/teddy.png" />
        </div>        
        <div class="col-md-8 col-md-offset-1">
            <h1>Project Teddy</h1>
            <p class="lead">This site is itendend for Project Teddy contributors to help break down the English Language. </p>
            <p>This project will help break down the human langauge so that computers can better understand and work with it. <a href="/home/about">Learn more &raquo;</a></p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Conversations</h2>
        <p>
            Annotate twitter conversations by reading through and selecting which type best applies. 
        </p>
        <p><a class="btn btn-info" href="/Conversation">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Tweets</h2>
        <p>Annotate single tweets and determine their intent based on their content.</p>
        <p><a class="btn btn-info" href="/Tweet">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Words</h2>
        <p>Pick apart sentences into individual words and annonate the type of word that is presented.</p>
        <p><a class="btn btn-info" href="/Word">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Phrases</h2>
        <p>Help create and identify common phrases in the english language by reviewing suggested phrases.</p>
        <p><a class="btn btn-info" href="/Phrase">Learn more &raquo;</a></p>
    </div>
</div>