<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </configSections>
  <connectionStrings>   
    <add name="AnnotatorModel" connectionString="data source=teddyserver1.database.windows.net;initial catalog=TeddyShard1;user id=drcrook@teddyserver1;password=David!2345;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="ClusterName" value="https://projectteddy.azurehdinsight.net" />
    <add key="HadoopUserName" value="drcrook" />
    <add key="HadoopUserPassword" value="David!2345" />
    <add key="AnnotatedTweetTableName" value="annotatedtweets" />
    <add key="TweetTableName" value="tweets" />
    <add key="ConversationTableName" value="twitterconversations" />
    <add key="AnnotatedConversationTableName" value="annotatedtwitterconversations" />
    <add key="WordRelationTableName" value="wordrelationstrengths" />
    <!--<add key="HiveStorageAccount" value="projectviccini" />
    <add key="HiveStorageKey" value="P3FWcryPlJ+GuRHPxOXzmPQLBzcQ8LIqqw60DDrsuxzqw8dYC0b9ehB/DN3k+AIE7YFQynAUf7L9o2RDdDM7IQ==" />-->
    <add key="HiveStorageAccount" value="projectteddy" />
    <add key="HiveStorageKey" value="SY0iHK1xnRCpBTezwAZw7vLy6ojTu3l046pvhFbMz3hr0lzDwJ4TfyHP197RkPg1zQWoW2wEQmhpgUZafwIarA==" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.29.0" newVersion="4.2.29.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>