<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://teddyannotator.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>teddyannotator.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>teddyannotator</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$teddyannotator</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=jmrsql01.database.windows.net,1433;Initial Catalog=teddyannotator;Persist Security Info=True;User ID=jraiodbadmin@jmrsql01;Password=Let2015##!" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ProjectTeddy.Annotator.Models.ApplicationDbContext, ProjectTeddy.Annotator" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="AnnotatorModel" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ProjectTeddy.Core.EntityFramework.AnnotatorModel, ProjectTeddy.Core" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AnnotatorModel-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=jmrsql01.database.windows.net,1433;Initial Catalog=teddyannotator;Persist Security Info=True;User ID=jraiodbadmin@jmrsql01;Password=Let2015##!</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>